header {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100; /* Ensure header is above other elements */
}

.main-header {
    height: 30vh;
    width: 85vw;
    align-items: flex-end;
    position: relative;
    z-index: 101;

}

h1 {
    z-index: 1001;
    position: relative; /* Ensure it is positioned to apply z-index */
}

.header-buttons {
    width: 30%;
    display: flex;
    justify-content: space-around;
    z-index: 101
}

.header-buttons button {
    margin-right: 20px;
    margin-left: 20px;
    z-index: 101;
}

/* client/src/App.css */


